<securityInterceptor>
  <id>605c8729:19d0aab28fc:-7fea</id>
  <name>restInterceptor</name>
  <className>org.geoserver.security.filter.GeoServerSecurityInterceptorFilter</className>
  <allowIfAllAbstainDecisions>false</allowIfAllAbstainDecisions>
  <securityMetadataSource>restFilterDefinitionMap</securityMetadataSource>
</securityInterceptor>